/* You can add global styles to this file, and also import other style files */
$edited: false;
$css--use-experimental-grid: true;
$css--use-experimental-grid-fallback: true;
@import "../node_modules/carbon-components/scss/globals/scss/styles.scss";
$font-path: "../node_modules/carbon-components/src/globals/fonts";

.bx--tabs__nav {
  justify-content: space-evenly;
  text-align: center;
}
.bx--tabs__nav-item {
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: bold;
}
input {
  margin-top: 5px;
}
.bx--list-box {
  @extend input;
}
.bx--btn--secondary {
  margin: 0 10px;
}

/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
