<ng-template #customerPaginationUpdate let-data="data">
  <button  ibmButton (click)="handleUpdate(data);">Update</button>
</ng-template>
<ng-template #customerPaginationDelete let-data="data">
  <button  ibmButton (click)="handleDelete(data);">Delete</button>
</ng-template>
<div class="table-header">
  <div class="input-filter-wrapper">
    <input class="input-filter" type="text" (keyup)="doFilter($event);" placeholder="Search" />
  </div>
  <div class="add-customer-btn" *ngIf="authorized">
    <button ibmButton (click)="addCustomer();">Add New Customer</button>
  </div>
</div>

<ibm-table *ngIf="!loading" [model]="customerTable" (sort)="customSort($event)" (filter)="doFilter($event)" [showSelectionColumn]="true"
			[striped]="true"></ibm-table>
<ibm-pagination *ngIf="!loading" [model]="customerTable" (selectPage)="selectPage($event)"></ibm-pagination>

<ibm-loading *ngIf="loading">Loading...</ibm-loading>