
<div *ngIf="!loading" class="authentication-form">
  <ibm-notification *ngIf="error === 400" [notificationObj]="{type: 'error', title: 'Please check your credentials'}">
	</ibm-notification>
  <ibm-label>
    <label label>Email</label>
    <input ibmText placeholder="Email" (keyup)="onEmailChange($event)"/>
  </ibm-label>
  <br/>
  <ibm-label>
    <label label>Password</label>
    <input ibmText type="password" placeholder="Password" (keyup)="onPasswordChange($event)"/>
  </ibm-label>
</div>
<button *ngIf="!loading" ibmButton (click)="submitLogin();" style="width:30vw;">Login</button>